@charset "UTF-8";
/* CSS Document */


#Table_01 {
	position:absolute;
	left:0px;
	top:0px;
	width:1024px;
	height:749px;
}

#top_ {
	position:absolute;
	left:0px;
	top:0px;
	width:1024px;
	height:47px;
}

#map_canvas {
	position:absolute;
	left:0px;
	top:47px;
	width:1024px;
	height:613px;
}

#filters_ {
	position:absolute;
	left:0px;
	top:660px;
	width:1024px;
	height:89px;
}


 html { height: 100% }
 body { height: 100%; margin: 0; padding: 0 }